<!-- Elements added to main will be displayed on all pages -->
{% extends "base.html" %}
{% block outdated %}
  You're not viewing the latest version.
  <a href="{{ '../' ~ base_url }}"> 
    <strong>Click here to go to latest.</strong>
  </a>
{% endblock %}

{% block announce %}
<span class="twemoji">
  {% include ".icons/fontawesome/regular/star.svg" %} 
</span>
  <strong>We value your feedback on this site.</strong> Please report any issues you find <a class="announcement__link" href="https://github.com/HCL-TECH-SOFTWARE/digital-experience/issues">via Github.</a>. <br>Can't find a topic? <a class="announcement__link"  ref="https://help.hcltechsw.com/digital-experience/9.5/welcome_hcl_dx.html">Check the legacy Help Center.</a>
{% endblock %}

{% block extrahead %}
  <meta property="og:image" content="https://opensource.hcltechsw.com/digital-experience/site-thumbnail.png" />
{% endblock %}
