<!-- Elements added to main will be displayed on all pages -->
{% extends "base.html" %}
{% block outdated %}
  You're not viewing the latest version.
  <a href="{{ '../' ~ base_url }}"> 
    <strong>Click here to go to latest.</strong>
  </a>
{% endblock %}

{% block announce %}
<span class="twemoji">
  {% include ".icons/fontawesome/regular/star.svg" %} 
</span>
  <strong>This site is in Beta, some links may not work.</strong> Please report issues by <a href="https://github.com/HCL-TECH-SOFTWARE/digital-experience/issues">opening issues in Github.</a>
{% endblock %}