<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Redirecting</title>
  <noscript>
    <meta http-equiv="refresh" content="1; url=../../../../../../CF214/manage_content/wcm_authoring/authoring_portlet/content_management_artifacts/components/" />
  </noscript>
  <script>
    window.location.replace("../../../../../../CF214/manage_content/wcm_authoring/authoring_portlet/content_management_artifacts/components/" + window.location.hash);
  </script>
</head>
<body>
  Redirecting to <a href="../../../../../../CF214/manage_content/wcm_authoring/authoring_portlet/content_management_artifacts/components/">../../../../../../CF214/manage_content/wcm_authoring/authoring_portlet/content_management_artifacts/components/</a>...
</body>
</html>